$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

table {
  margin-top: 25px;
  border:1px solid black;
  padding: 5px;
  text-align:center;
  width: 100%;
}
thead {
  border-bottom: 1px solid black;
  th {border-right: 1px solid black; text-align:center;}
}

#map {
  width: 100%;
  height: 600px;
  border: 1px solid black;
  position:relative;
  overflow: visible;
}

#positive {
  width: 100%;
  height: 300px;
  margin-top: 300px;
  border-top: 1px solid black;
  position:relative;
  overflow:visible;
  color: #FFF;
}

.flight {
  position:absolute;
  overflow: visible;

  .flight_number {
    margin: 10px 0 0 10px;
    padding: 0 4px;
    display: block;
  }

  .marker {
    position: absolute;
    display: block;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><g stroke='black'><line x1='30' y1='30' x2='0' y2='0' stroke-width='2' /><line x1='30' y1='0' x2='0' y2='30' stroke-width='2' /></g></svg>")  no-repeat;
    background-size: 20px 20px;
    left: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
  }
}



.odd {
  background: #ccc;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
